body{
  background: #5F3177;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0;
}

#container{
  max-width: 900px;
  max-height: 90%;
  background: #F8F6FA;
  margin: 20px auto 20px auto;
  padding: 20px;
}