html {
  box-sizing: border-box;
}

body{
  background: #5F3177;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0;
}

#container{
  min-width: 150px;
  max-width: 750px;
  max-height: 90%;
  background: #F8F6FA;
  margin: 20px auto 20px auto;
  padding: 20px;
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  box-shadow: 0px 2px 18px 0 rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 45px;
  font-weight: 500;
  margin: 0 0 15px 0;
  letter-spacing: 3px;
}

h2{
  font-weight: 300;
  font-size: 28px;
  margin: 20px 0 15px 0;
  letter-spacing: 3px;
}

hr{
  margin: 10px 0 10px 0;
  width: 100%;
}

input[type=text]{
  height: 40px;
  box-sizing:border-box;
  width: 100%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  padding: 5px;
  margin: 10px 0; 
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  outline: none;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.89); 
  border-radius: 2px;
  border: none;
  outline: none;
  min-width: 150px;
  height: 40px;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 2px 15px -6px rgba(0,0,0,0.75);
}

.add-task{
  background: #9FEE1F;
  margin-bottom: 30px;
}

.add-task:hover{
  background: #B0F146;
  color: #fff;
}

.delete-all-items{
  background: #FF6A00;
}

.delete-all-items:hover{
  background: #FF8026;
  color: #fff;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li{
  border: 1px solid #9E9E9E;
  border-top: none;
  padding: 5px;
  color: #666;
  height: 28px;
  line-height: 150%;
}

ul li:first-child{
  border-top: 1px solid #9E9E9E;
  border-top-left-radius : 2px;
  border-top-right-radius : 2px;
}

ul li:last-child{
  border-bottom-left-radius : 2px;
  border-bottom-right-radius : 2px;
}

.fas{
  color:rgb(250, 165, 29);
}

.fas:hover{
  color:rgb(253, 182, 68);
}

.link{
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.checkbox{
  margin-right: 10px;
  outline: none;
}